h1{
    margin-top: 100px    ;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 150px;
}
p{
    
    margin-top: 100px    ;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 150px;
    
}

div{
    border: 2px solid black;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left:80px;
    background-color: lightblue;
    padding: 75px 50px 75px 100px;
}
h3{
    margin-top: 100px    ;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 150px;
}
.fixed-box{
    position: fixed;
    width: 200px;
    height: 20px;
    background-color: blu;
}