.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: white;
    padding: 5px;

}
.grid-container > div{
    background-color: #a1e709;
    text-align: center;
    padding: 10px;
    font-size: 40 px;

}
.grid-container1{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: white;
    padding: 5px;

}
.grid-container1 > div{
    background-color: #a1e709;
    text-align: center;
    padding: 10px;
    font-size: 40 px;

}

.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: white;
    padding: 5px;

}
.grid-container2 > div{
    background-color: #a1e709;
    text-align: center;
    padding: 10px;
    font-size: 40 px;

}
.grid-container3{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: white;
    padding: 5px;

}
.grid-container3 > div{
    background-color: #a1e709;
    text-align: center;
    padding: 10px;
    font-size: 40 px;

}
.grid-container4{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: white;
    padding: 5px;
}
.grid-container4> div{
    background-color: rgb(16, 232, 42);
    text-align: center;
    padding: 10px;
    font-size: 40 px;

}

.grid-item16{
    grid-column: 2/4;
}